$light-grey: #A4A4A4;
$white: #fff;
$grey: #c7c7c7;
$dark-grey: #434343;
$red: #a4312d;
$a-grey: #838383;
$art-grey: #e6e7e8;

$font-text: 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Gill Sans', Arial, sans-serif;
$font-head:  Baskerville, Palatino, Georgia, serif;

%heading { font-size:26px; }
%text { font-size:18px; }
%btn { font-size:16px; }

